<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mrzgaming.ezbox">

    <uses-permission android:name="com.termux.permission.RUN_COMMAND" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:name=".EZBoxApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="EZBox"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.EZBox">
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.EZBox">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name=".VncActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".NoVncActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
    </application>

</manifest>
